/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* debug */

.debug {
    border: 1px solid red;
}

/* custom properties */

:root {
    --orange: #FF6900;  /* header*/
    --red: #FC0F0F;     /* discount badge + text*/
    --green: #0F860F;   /* description badge */  
    --dark: #1A1A1A;    /* footer*/
}

/* general */

a {
    text-decoration: none;
    padding-right: 10px;
    text-align: center;
    padding: 5px;
}

nav {
    margin: 0 auto;
    width: 1200px;
    vertical-align: middle;
}

/* header */

header {
    background-color: var(--orange);
    position: fixed;
    z-index: 1000;
    width: 100%;
    vertical-align: middle;
}

header a {
    color: white;  
}

h4 {
    text-transform: uppercase;
}
#logo {
    width: 20%;
    height: 100%;
}

.container {
    max-width: 1200px;
}

/* main */

main { 
    margin: 0 auto;
}

main img {    width: calc((1200px - 15px) / 3);
    max-width: 100%;
    margin-top: 30px auto;
}

.h-img {
    display: none;
}

.badge, .lable {
    position: absolute;
    padding: 5px;
    background-color: var(--red);
    top: 0;
    left: 0;
}

.lable {
    background-color: var(--green);
    left: 50px;
}



/* footer */

footer {
    margin-top: 50px;
}

/* flex utlity */

.d-flex {
    display: flex;
}

.dir-col {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.s-between {
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

/* position utility*/
 
.p-relative {
    position: relative;
    bottom: 15%;
    left:0;
    flex-wrap: wrap;
}

/* colors */

.price-red {
    color: var(--red);
    font-size: 0,8em;
}

.full-price {
    color: var(--dark);
    text-decoration: line-through;
    font-weight: 200;
}

.bold-white {
    color: white;
    font-weight: 700;
}
